.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.dropdown-menu {
  display: block;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  color: black;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}
